[Unit]
Description=ami Trader Bot Service
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/cryautoai
ExecStart=/home/ubuntu/cryautoai/run_script.sh
Restart=always
RestartSec=10
StandardOutput=append:/home/ubuntu/cryautoai/bot.out.log
StandardError=append:/home/ubuntu/cryautoai/bot.err.log
Environment="PATH=/home/ubuntu/cryautoai/venv/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target
